body {
	background-color: transparent;
}

.grid { 
	width: 100%;
	/* background: black; */
}

.grid-item { 
	width: 200px;
	border-radius: 8px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 8px;
}

.grid-item img {
	border-radius: 8px;
}