html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.grid { 
	width: 100%;
	/* background: black; */
}

.grid-item { 
	width: 200px;
    max-width: 100%;
	border-radius: 8px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 8px;
}

.grid-item img {
	border-radius: 8px;
}

/* .mtk23 { */
    /* --glow-intensity: 2px;
    0 0 var(--glow-intensity) #FFFFFF,
    0 0 calc(var(--glow-intensity) * 2) #FFFFFF,
    0 0 calc(var(--glow-intensity) * 3) #FFFFFF,
    0 0 calc(var(--glow-intensity) * 4) #FFFFFF; */
/* } */